<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title > About</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img  class="portait" src="/img/subhanallah.jpg">
        <p>{{name}}</p>
    </div>
    
    {{>footer}}
</body>


</html>